.products-page-list{
    display: flex;
    flex-direction: column;
    background-image: none;
}

.products-start-page-toolbar{
    width: calc(100% - 22px);
    height: 50px;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    border: solid 1px var(--color-0);
}

.products-start-page-toolbar-title-container{
    flex: 1;
    display: flex;
    background-color: #053a7f;
}

.products-start-page-toolbar-title{
    font-size: 16px;
    color: var(--color-4);
    font-family: Nekst-Light;
    line-height: 45px;
    padding-left: 20px;
}

.products-start-page-toolbar-space{
    flex: 1;
}

.products-start-page-toolbar-filter{
    width: 100%;
}

.products-start-page-toolbar-filter-form{
    margin-top: 5px !important;
}

.products-start-page-toolbar-icon{
    color: var(--font-color-1);
    width: 32px;
    height: 32px;
    border: solid 1px var(--font-color-1);
    border-radius: 18px;
    margin-top: 8px;
    text-align: center;
    line-height: 35px;
    margin-right: 15px;
    cursor: pointer;
}

.products-start-page-body{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: auto !important;
    flex: 1;
}

.products-start-page-body-icon{
    color: var(--color-4);
    padding: 5px;
    border-radius: 4px;
    background-color: var(--secundary-2);
    cursor: pointer;
    margin-right: 5px;
}

.table-row {
    background-color: var(--table-row-color-1);
}

.table-row__alternate {
    background-color:var(--table-row-color-2);
}

.products-start-page-footer{
    width: 100%;
    height: 57px;
}